$verde: #1b521a
$dorado: #bc8f53

footer
    .contacto
        background-color: whitesmoke
        padding: 10px 0
        i
            line-height: 0
        a
            text-decoration: none
            color: black

    .footer
        padding: 20px 0
        .logo-hor img
            width: 80%
        p
            font-size: .8rem
        i
            line-height: 0
            font-size: 1.7rem
            color: $verde
            &:hover
                color: #1b521acb
